<p>
  <strong>Commenter:</strong>
  <%= comment.user.email %>
</p>

<p>
  <strong>Body:</strong>
  <%= simple_format(comment.body) %>
</p>
  <% d = Time.now %>
  <%= d.strftime("Added on %m/%d/%Y")%>
  <%= link_to 'Destroy', article_comment_path(article_id: comment.article.id, id: comment.id), method: :delete, data: {confirm: 'Are you sure?'} %>
  <%= link_to 'Edit', edit_article_comment_path(article_id: comment.article.id, id: comment.id) %>

<hr />
Vote for comment:
  <% if current_user && current_user.rated_for?(comment).present? %>
   <%= link_to '-', article_comment_comments_rating_path(article_id: comment.article.id, comment_id: comment.id, id: current_user.rated_for?(comment)), method: :delete %>
  <% else %>
   <%= link_to '+', article_comment_comments_ratings_path(article_id: comment.article.id, comment_id: comment.id), method: :post %>
  <% end %>
