<h1> My Article </h1>
  <p>
    <strong>Title:</strong>
  <%= @article.title %>
  </p>
  <p>
    <strong>User:</strong>
  <%= @article.user.email %>
  </p>
  <p>
    <strong> Text:</strong>
  <%= @article.text %>
  </p>
  <p>
    <% if sponsored_article? @article %>
      <h3> Artykuł sponsorowany przez firmę <%= @article.company.name %></h3>
    <% end %>
  </p>

  <p>
    <strong>Tags:</strong>
    <% @article.tags.each do |t| %>
      <%=link_to t, articles_path(q: t), class: "badge badge-dark"%>
    <% end %>
  </p>

    <%= pluralize(@article.likes.count, 'person') %> liked this article

    <% if @like.persisted? %>
      <i class="fa fa-thumbs-down"></i>
      <%= link_to 'Unlike', article_like_path(@article, @like), method: :delete %>
    <% else %>
      <i class="fa fa-thumbs-up"></i>
      <%= link_to 'Like', article_likes_path(@article), method: :post %>
    <% end %>

    <% if  sponsored_article? @article %>
      <p> Komentarze zablokowane</p>
    <% else %>
  <h2>Comments</h2>
    <div class="pad-bottom">
      <button id="show-comments-button" value='Show' class= "hidden" href="#users-comments" data-toggle="collapse" aria-expanded="false">
        Show
      </button>
      <div id="users-comments" class="collapse">
        <div class="row pad-top">
          <div class="col-xs-6 col-sm-6 field-row">
            <%= render @article.comments %>
          </div>
        </div>
      </div>
      <div>
        <% if current_user %>
          <%=render 'comments/form' %>
        <%end%>
      </div>
      <% end %>

      <div>
        <%= link_to 'Back', articles_path %>
          <% if @article.user == current_user || current_user&.admin? %>
            <%= link_to 'Edit', edit_article_path(@article) %>
          <% end %>
      </div>
